.span2.offset2
  = short_name
  - if value.class == Hash || value.class == BSON::Document
    - value.each do |key, sub_value|
      = render partial: 'form_element', locals: {:value => sub_value, :name => "#{name}[#{key}]", :short_name => key}
  - else
    - if(@variable.variable_type == :number)
      = number_field_tag name, value
    - if(@variable.variable_type == :string && !@variable.is_enum)
      = text_field_tag name, value, size: 75
    - if(@variable.variable_type == :string && @variable.is_enum)
      = select_tag name, options_for_select(@variable.values_option_list(locale), value)
    - if(@variable.variable_type == :percentage)
      = number_field_tag name, value
    - if(@variable.variable_type == :boolean)
      = check_box_tag name, value