%h2= "Bearbeiten von Feld #{params[:id]} (#{@variable.localized_field 'name', locale}) für #{@hospital.name}"

= render 'form'

= link_to 'Show', admin_hospital_field_path(@hospital, params[:id])
\|
= link_to 'Back', admin_hospital_fields_path
