%h2= @hospital.name

%table.table.table-striped
  %thead
    %tr
      %th Name
      - @years.each do |year, value|
        %th= year

  %tbody
    - @variables.each do |var|
      %tr
        %td= var.localized_field 'name', locale
        - if var.is_time_series
          - @years.each do |year, value|
            %td= render partial: 'field_year_entry', locals: {:field => @hospital[var.field_name], :year => year}
        - else
          %td{colspan: 3}= @hospital[var.field_name]
        - unless @hospital[var.field_name] == nil
          %td= link_to 'Anzeigen', admin_hospital_field_path(@hospital, var.field_name)
          %td= link_to 'Bearbeiten', edit_admin_hospital_field_path(@hospital, var.field_name)
          %td= link_to 'Löschen', admin_hospital_field_path(@hospital, var.field_name), :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %td= link_to 'Neu erstellen', new_admin_hospital_field_path(@hospital, {:id => var.field_name})
