%h2= @hospital.name + ' - ' + params[:id]

%p#notice= notice

- if @variable.is_time_series
  %ul
    - @field.each do |year, value|
      %li=year + ': ' + render(partial: 'field_year_entry', locals: {:field => @field, :year => year})
- else
  %div= @field

= link_to 'Edit', edit_admin_hospital_field_path(@hospital, params[:id])
\|
= link_to 'Zurück', admin_hospital_fields_path
