= form_for [:admin, @hospital_location] do |f|
  - if @hospital_location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hospital_location.errors.count, "error")} prohibited this admin_hospital_location from being saved:"
      %ul
        - @hospital_location.errors.full_messages.each do |msg|
          %li= msg
  %table.table
    %tr
      %td= f.label :doc_id
      %td= f.number_field :doc_id
    %tr
      %td
        %strong Name des Spitals
      %td= f.text_field :name
    %tr
      %td
        %strong Name des Standortes / der Klinik
      %td= f.text_field :title
    %tr
      %td
        %strong Adresse
      %td= f.text_field :address
    %tr
      %td= f.label :email
      %td= f.text_field :email
    %tr
      %td
        %strong Telefonnr. 1
      %td= f.text_field :phone1
    %tr
      %td
        %strong Telefonr. 2
      %td= f.text_field :phone2
    %tr
      %td
        %strong Kanton
      %td= f.text_field :canton

    %tr
      %td= f.label 'Spitalverbund'
      %td= f.select :hospital_id, options_for_select([['Keine Zurodnung', nil]] + Hospital.all.order_by(:name.asc).map { |h| [h.name, h.id]}, @hospital_location.hospital == nil ? nil : @hospital_location.hospital.id,), {}, {size: 10}


  .actions
    = f.submit 'Speichern'
