= form_for [:admin, @hospital_location] do |f|
  - if @hospital_location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hospital_location.errors.count, "error")} "+t('prohibition_admin_loc')
      %ul
        - @hospital_location.errors.full_messages.each do |msg|
          %li= msg
  %table.table
    %tr
      %td= f.label :doc_id
      %td= f.number_field :doc_id
    %tr
      %td
        %strong= t('hospital_name')
      %td= f.text_field :name
    %tr
      %td
        %strong= t('loc_name')
      %td= f.text_field :title
    %tr
      %td
        %strong= t('address')
      %td= f.text_field :address
    %tr
      %td= f.label :email
      %td= f.text_field :email
    %tr
      %td
        %strong= t('phone-no')+" 1"
      %td= f.text_field :phone1
    %tr
      %td
        %strong= t('phone-no')+" 2"
      %td= f.text_field :phone2
    %tr
      %td
        %strong= t('canton')
      %td= f.text_field :canton

    %tr
      %td= f.label t('hospital_network')
      %td= f.select :hospital_id, options_for_select([[t('no_assignment'), nil]] + Hospital.all.order_by(:name.asc).map { |h| [h.name, h.id]}, @hospital_location.hospital == nil ? nil : @hospital_location.hospital.id,), {}, {size: 10}


  .actions
    = f.submit t('save')
