%h2 Liste der Spitalstandorte

%table.table-striped.table
  %thead
    %tr
      %th Name
      %th Title
      %th Gehört zu
      %th Address
      %th Canton
      %th Location
      %th
      %th
      %th

  %tbody
    - @hospital_locations.each do |hospital_location|
      %tr
        %td= link_to hospital_location.name, [:admin, hospital_location]
        %td= hospital_location.title
        %td
          -if hospital_location.hospital == nil
            %span{:style => "color: red;"} Undefined
          -else
            =link_to(hospital_location.hospital.name, [:admin, hospital_location.hospital])
        %td= hospital_location.address
        %td= hospital_location.canton
        %td= hospital_location.location
        %td= link_to 'Bearbeiten', edit_admin_hospital_location_path(hospital_location)
        %td= link_to 'Löschen', [:admin, hospital_location], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hospital location', new_admin_hospital_location_path
