%h2= t('list_hosp_loc')

= link_to t('new_loc'), new_admin_hospital_location_path
%br
%br
= form_tag(admin_hospital_locations_path, :method => "get") do
  = label_tag(:q, t('search'))
  = text_field_tag(:q, params[:q])
  = submit_tag(t('search'))

= will_paginate @hospital_locations, renderer: BootstrapPagination::Rails
%table.table-striped.table
  %thead
    %tr
      %th= t('name')
      %th= t('title')
      %th= t('belongs_to')
      %th= t('address')
      %th= t('canton')
      %th= t('location')
      %th
      %th
      %th

  %tbody
    - @hospital_locations.each do |hospital_location|
      %tr
        %td= link_to hospital_location.name, [:admin, hospital_location]
        %td= hospital_location.title
        %td
          -if hospital_location.hospital == nil
            %span{:style => "color: black;"}= t('undefined')
          -else
            =link_to(hospital_location.hospital.name, [:admin, hospital_location.hospital])
        %td= hospital_location.address
        %td= hospital_location.canton
        %td= hospital_location.location
        %td= link_to t('edit'), edit_admin_hospital_location_path(hospital_location)
        %td= link_to t('delete'), [:admin, hospital_location], :method => :delete, :data => { :confirm => t('sure') }

= will_paginate @hospital_locations, renderer: BootstrapPagination::Rails
