%p#notice= notice

%p
  %b Doc:
  = @hospital_location.doc_id
%p
  %b Name:
  = @hospital_location.name
%p
  %b Title:
  = @hospital_location.title
%p
  %b Address:
  = @hospital_location.address
%p
  %b Email:
  = @hospital_location.email
%p
  %b Phone1:
  = @hospital_location.phone1
%p
  %b Phone2:
  = @hospital_location.phone2
%p
  %b Canton:
  = @hospital_location.canton
%p
  %b Location:
  = @hospital_location.location

%p
  %b =t('hospital_network')
  = @hospital_location.hospital == nil ? t('undefined') : @hospital_location.hospital.name

= link_to t('edit'), edit_admin_hospital_location_path(@hospital_location)
\|
= link_to t('back'), admin_hospital_locations_path
