%p#notice= notice

%p
  %b Doc:
  = @hospital_location.doc_id
%p
  %b= t('name')+":"
  = @hospital_location.name
%p
  %b= t('title')+":"
  = @hospital_location.title
%p
  %b= t('address')+":"
  = @hospital_location.address
%p
  %b= t('email')+":"
  = @hospital_location.email
%p
  %b= t('phone-no')+"1:"
  = @hospital_location.phone1
%p
  %b= t('phone-no')+"2:"
  = @hospital_location.phone2
%p
  %b= t('canton')+":"
  = @hospital_location.canton
%p
  %b= t('location')+":"
  = @hospital_location.location

%p
  %b= t('hospital_network')
  = @hospital_location.hospital == nil ? t('undefined') : @hospital_location.hospital.name

= link_to t('edit'), edit_admin_hospital_location_path(@hospital_location)
\|
= link_to t('back'), admin_hospital_locations_path
