%h3= raw t('welcome-title')
%p.top-buffer= raw t('welcome-text')
%p= link_to fa_icon('file-pdf-o', t('presentation-link')), "/qm1_Spitaldaten_Kennzahlen_Relevanz_Spitalvergleich.pdf", target: '_blank'

%table.table-striped.table
  %thead
    %tr
      %th= t('speciality')
      %th= t('description')

  %tbody
    - @comparisons.each do |comparison|
      %tr
        %td= link_to comparison.localized_field('name', locale), comparison
        %td= comparison.localized_field('description', locale)

