%h3= raw t('welcome-title')
%p.top-buffer= raw t('welcome-text')

%table.table-striped.table
  %thead
    %tr
      %th= t('speciality')
      %th= t('description')

  %tbody
    - @comparisons.each do |comparison|
      %tr
        %td= link_to comparison.localized_field('name', locale), comparison
        %td= comparison.localized_field('description', locale)

