%h2= @comparison.localized_field 'name', locale
%p= t('select-hop')

%p= @comparison.localized_field 'description', locale

%table.table.table-striped{:id=>"comparison-table"}
  %thead#comparison-head{:style=>"background-color: white"} 
    %tr
      %th.qim-header-cell{ "data-tablesaw-priority"=>"persist", :style => "width: 25%" }
        = t('institution')
        %h5
          %small= t('institution-description')
      - @variables.each do |var|
        %th.qim-header-cell
          = var.localized_field 'name', locale
          %h5
            %small= var.localized_field 'description', locale
  %tbody
    - @hospitals.each do |h|
      %tr{ 'data-hopid' => h.id }
        %td
          = link_to h.name, hospital_path(h), style: 'color: #3b72b8'
          %h6.blue
            %small= h.address2
            %small.distance= raw ("%.2f" % h.distance_from(@location)) + '&nbsp;km'
        - @variables.each do |var|
          %td{ :class => hospital_variable_class(var, h), 'data-fieldnam' => var.field_name, 'data-varid' => var.id }= format_hospital_variable(var, h)

:javascript
  var numcase_data = #{numcase_data(@hospitals, @variables).to_json};
:javascript
  $("#comparison-table").tablesaw();


