%h2= @comparison.localized_field 'name', locale

%p= @comparison.localized_field 'description', locale

%table.table.table-striped
  %thead
    %tr
      %th{ width: "25%" }
        = t('institution')
        %h5
          %small= t('institution-description')
      - @variables.each do |var|
        %th
          = var.localized_field 'name', locale
          %h5
            %small= var.localized_field 'description', locale
  %tbody
    - @hospitals.each do |h|
      %tr
        %td
          = link_to h.name, h
          %h6.blue
            %small= h.address2
        - @variables.each do |var|
          %td= format_hospital_variable(var, h, @comparison)
