:javascript
  var listEntry = "<span>#{j text_field_tag '@@variable@@', '', :style => 'width: 100px; margin-right: 2px', :class => 'inputText listsOnly'}"
  + "#{j image_tag '/bullet_toggle_minus.png', :title =>'delete', :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'}</span>";
= form_for [:admin, @variable] do |f|
  - if @variable.errors.any?
    #error_explanation
      %h2
        = pluralize(@variable.errors.count, "error")
        prohibited this variable from being saved:
      %ul
        - @variable.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Variablenname'
    = f.text_field :field_name
    Rank:#{f.number_field :rank, :style => 'width: 40px;'}
    Import Rank:#{f.number_field :import_rank, :style => 'width: 40px;'}
  .field
    = f.label 'Zeitreihe'
    = f.check_box :is_time_series
  %div
    %span
      Sets
      %br
      - @variable['variable_sets'].each do |entry|
        %span
          = text_field_tag 'variable[variable_sets][]', entry, :style => 'width: 100px;', :class => 'inputText'
          = image_tag '/bullet_toggle_minus.png', :title => 'delete', :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'
    %span.pseudoLink{onclick: "$(this).prev().append(listEntry.replace(\"@@variable@@\", \"variable[variable_sets][]\"));", title: ""} Wert hinzufügen
  .field
    = f.label 'Name'
    %br
    = f.text_field :name_de
    = f.text_field :name_fr
    = f.text_field :name_it
  .field
    = f.label 'Beschrieb'
    %br
    = f.text_area :description_de, {:cols => 35, :rows => 10}
    = f.text_area :description_fr, {:cols => 35, :rows => 10}
    = f.text_area :description_it, {:cols => 35, :rows => 10}
  .field
    %p
      = f.label 'Variablentyp'
      %br
      = f.select :variable_type, options_for_select([['Freitext', :string], ['Prozentzahl', :percentage], ['Fallzahl', :number], ['Flag', :boolean]], @variable['variable_type'])
    %p
      = f.label 'Mögliche Werte: Kein Eintrag => Freitext'
      %br
      %span
        - @variable['values'].each do |entry|
          %span
            = text_field_tag 'variable[values][]', entry, :style => 'width: 100px;', :class => 'inputText'
            = image_tag '/bullet_toggle_minus.png', :title => 'delete', :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'
      %span.pseudoLink{onclick: "$(this).prev().append(listEntry.replace(\"@@variable@@\", \"variable[values][]\"));", title: ""} Wert hinzufügen
      %br
      %span
        Beschreibungen Deutsch
        %br
        - @variable['values_de'].each do |entry|
          %span
            = text_field_tag 'variable[values_de][]', entry, :style => 'width: 100px;', :class => 'inputText'
            = image_tag '/bullet_toggle_minus.png', :title => 'delete', :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'
      %span.pseudoLink{onclick: "$(this).prev().append(listEntry.replace(\"@@variable@@\", \"variable[values_de][]\"));", title: ""} Wert hinzufügen
      %br
      %span
        Beschreibungen Französisch
        %br
        - @variable['values_fr'].each do |entry|
          %span
            = text_field_tag 'variable[values_fr][]', entry, :style => 'width: 100px;', :class => 'inputText'
            = image_tag '/bullet_toggle_minus.png', :title => 'delete', :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'
      %span.pseudoLink{onclick: "$(this).prev().append(listEntry.replace(\"@@variable@@\", \"variable[values_fr][]\"));", title: ""} Wert hinzufügen
  .actions
    = f.submit 'Speichern'
