:javascript
  var listEntry = "<span>#{j text_field_tag '@@variable@@', '', :style => 'width: 100px; margin-right: 2px', :class => 'inputText listsOnly'}"
  + "#{j image_tag '/bullet_toggle_minus.png', :title =>t('delete'), :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'}</span>";
= form_for [:admin, @variable] do |f|
  - if @variable.errors.any?
    #error_explanation
      %h2
        = pluralize(@variable.errors.count, "error")
        = t('prohibition_variable')
      %ul
        - @variable.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label t('variable_name')
    = f.text_field :field_name
    %br
    =f.label t('rank')
    #{f.number_field :rank, :style => 'width: 40px;'}
    %br
    =f.label t('import_rank')
    #{f.number_field :import_rank, :style => 'width: 40px;'}
  .field
    = f.label t('timeline')
    = f.check_box :is_time_series
  %div
    %span
      =t('sets')
      %br
      - @variable['variable_sets'].each do |entry|
        %span
          = text_field_tag 'variable[variable_sets][]', entry, :style => 'width: 100px;', :class => 'inputText'
          = image_tag '/bullet_toggle_minus.png', :title => t('delete'), :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'
    %span.pseudoLink{onclick: "$(this).prev().append(listEntry.replace(\"@@variable@@\", \"variable[variable_sets][]\"));", title: ""}= t('add_value')
  .field
    = f.label t('name')
    %br
    = f.text_field :name_de
    = f.text_field :name_fr
    = f.text_field :name_it
  .field
    = f.label t('description')
    %br
    = f.text_area :description_de, {:cols => 35, :rows => 10}
    = f.text_area :description_fr, {:cols => 35, :rows => 10}
    = f.text_area :description_it, {:cols => 35, :rows => 10}
  .field
    %p
      = f.label t('variable_type')
      = raw t('variable_type_manual')
      = f.select :variable_type, options_for_select([[t('freetext_listing'), :string], [t('percentnumber'), :percentage], [t('number_of_cases'), :number], [t('flag'), :boolean], [t('link'), :link], [t('relevance'), :relevance]], @variable['variable_type'])
    %p
      = f.label t('possible_values')
      %br
      %span
        - @variable['values'].each do |entry|
          %span
            = text_field_tag 'variable[values][]', entry, :style => 'width: 100px;', :class => 'inputText'
            = image_tag '/bullet_toggle_minus.png', :title => t('delete'), :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'
      %span.pseudoLink{onclick: "$(this).prev().append(listEntry.replace(\"@@variable@@\", \"variable[values][]\"));", title: ""}= t('add_value')
      %br
      %span
        = t('descriptions_german')
        %br
        - @variable['values_de'].each do |entry|
          %span
            = text_field_tag 'variable[values_de][]', entry, :style => 'width: 100px;', :class => 'inputText'
            = image_tag '/bullet_toggle_minus.png', :title => t('delete'), :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'
      %span.pseudoLink{onclick: "$(this).prev().append(listEntry.replace(\"@@variable@@\", \"variable[values_de][]\"));", title: ""}= t('add_value')
      %br
      %span
        = t('descriptions_french')
        %br
        - @variable['values_fr'].each do |entry|
          %span
            = text_field_tag 'variable[values_fr][]', entry, :style => 'width: 100px;', :class => 'inputText'
            = image_tag '/bullet_toggle_minus.png', :title => t('delete'), :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'
      %span.pseudoLink{onclick: "$(this).prev().append(listEntry.replace(\"@@variable@@\", \"variable[values_fr][]\"));", title: ""}= t('add_value')
  .field
    = f.label t('highlight_limit')
    = f.number_field :highlight_threshold, :step => 0.1

  .field
    = t('calculation_code')
    %div= f.text_area :calculation_code, {:cols => 35, :rows => 10}
    .button= link_to t('calculate'), calculate_admin_variable_path(@variable), :method => :post

  .actions
    = f.submit t('save')
