= form_for [:admin, @doctor] do |f|
  - if @doctor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doctor.errors.count, "error")} prohibited this doctor from being saved:"
      %ul
        - @doctor.errors.full_messages.each do |msg|
          %li= msg
  %table.table
    %tr
      %td
        %strong Anrede / Titel
      %td= f.text_field :title
    %tr
      %td
        %strong Vorname Name
      %td= f.text_field :name
    %tr
      %td
        %strong Adresse
      %td= f.text_field :address
    %tr
      %td= f.label :email
      %td= f.text_field :email
    %tr
      %td
        %strong Telefonnr. 1
      %td= f.text_field :phone1
    %tr
      %td
        %strong Telefonr. 2
      %td= f.text_field :phone2
    %tr
      %td
        %strong Kanton
      %td= f.text_field :canton
    %tr
      %td
        %strong Fachbereiche
      %td= f.text_field :docfields

  .actions
    = f.submit 'Speichern'