= form_for [:admin, @doctor] do |f|
  - if @doctor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doctor.errors.count, "error")} prohibited this doctor from being saved:"
      %ul
        - @doctor.errors.full_messages.each do |msg|
          %li= msg
  %table.table
    %tr
      %td
        %strong Anrede / Titel
      %td= f.text_field :title
    %tr
      %td
        %strong Vorname Name
      %td= f.text_field :name
    %tr
      %td
        %strong Adresse
      %td= f.text_field :address
    %tr
      %td= f.label :email
      %td= f.text_field :email
    %tr
      %td
        %strong Website
      %td= f.text_field :website
    %tr
      %td
        %strong Telefonnr. 1
      %td= f.text_field :phone1
    %tr
      %td
        %strong Telefonnr. 2
      %td= f.text_field :phone2
    %tr
      %td
        %strong Kanton
      %td= f.select(:canton, options_for_select(@cantons.map {|value| [value,value]}, :selected => f.object.canton))
    %tr
      %td
        %strong Fachbereiche
        -if current_user.is_admin
          %td= f.text_field :docfields, :disabled => false
        -else

          %td= f.text_field :docfields, :disabled => true

  .actions
    = f.submit 'Speichern'