%h2= t('doc_list')

= link_to t('doc-register'), new_admin_doctor_path
%br
%br
= form_tag(admin_doctors_path, :method => "get") do
  = label_tag(:q, t('search'))
  = text_field_tag(:q, params[:q])
  = submit_tag(t('search'))

= will_paginate @doctors, renderer: BootstrapPagination::Rails
%table.table-striped.table
  %thead
    %tr
      %th= t('name')
      %th= t('title')
      %th= t('address')
      %th= t('canton')
      %th= t('specialities')
      %th= t('location')
      %th
      %th
      %th

  %tbody
    - @doctors.each do |doctor|
      %tr
        %td= link_to doctor.name, [:admin, doctor]
        %td= doctor.title
        %td= doctor.address
        %td= doctor.canton
        %td= doctor.docfields
        %td= doctor.location
        %td= link_to t('edit'), edit_admin_doctor_path(doctor)
        %td= link_to t('delete'), [:admin, doctor], :method => :delete, :data => { :confirm => t('sure') }

= will_paginate @doctors, renderer: BootstrapPagination::Rails
