:javascript
  var initialize = function () {
    var latlng = new google.maps.LatLng(#{@doctor.location[1]}, #{@doctor.location[0]});
    var settings = {
      zoom: 12,
      center: latlng,
      mapTypeControl: true,
      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
      navigationControl: true,
      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(document.getElementById("map"), settings);

    function addMarker(location, name, info_text){
      var hop_location = new google.maps.LatLng(location[1], location[0]);
      var infowindow = new google.maps.InfoWindow({
        content: info_text
      });
      var hop_marker = new google.maps.Marker({
        position: hop_location,
        map: map,
        title: name,
      });

      infowindow.open(map, hop_marker);
    }

    addMarker(#{@doctor.location}, 'A', '#{@doctor.name} - #{@doctor.title}');

  }

  $(document).ready(initialize);
  $(document).on('page:load', initialize)

%p#notice= notice

%p
  %b= t('name')+":"
  = @doctor.name
%p
  %b= t('title')+":"
  = @doctor.title
%p
  %b= t('address')+":"
  = @doctor.address
%p
  %b= t('email')+":"
  = @doctor.email
%p
  %b Website:
  = @doctor.website
%p
  %b= t('phone-no')+" 1:"
  = @doctor.phone1
%p
  %b= t('phone-no')+" 2:"
  = @doctor.phone2
%p
  %b= t('canton')+":"
  = @doctor.canton
%p
  %b= t('location') +":"
  = @doctor.location
  = link_to t('relocate'), geolocate_admin_doctor_path(@doctor), method: :post
%p
  %b= t('specialities')+":"
  = @doctor.docfields
%p
  %b Spitäler:
  - @doctor.hospitals.each do |f|
    %li
      = f.name


= link_to t('edit'), edit_admin_doctor_path(@doctor)
\|
= link_to t('back'), admin_doctors_path

%div{ id:  "map", style: "height:500px" }

