:javascript
  var listEntry = "<div>#{j select_tag('comparison[variable_ids][]', options_for_select(Variable.all.map { |v| [v.localized_field('name', locale), v.id]}))}"
  + "#{j image_tag '/bullet_toggle_minus.png', :title =>'delete', :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'}</div>";

= form_for [:admin, @comparison] do |f|
  - if @comparison.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comparison.errors.count, "error")} prohibited this admin_comparison from being saved:"
      %ul
        - @comparison.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :name_de
    = f.text_field :name_de
  .field
    = f.label :name_fr
    = f.text_field :name_fr
  .field
    = f.label :name_it
    = f.text_field :name_it
  .field
    = f.label :description_de
    = f.text_field :description_de
  .field
    = f.label :description_fr
    = f.text_field :description_fr
  .field
    = f.label :description_it
    = f.text_field :description_it

  %div
    %span
      Kennzahlen
      %br
      - (@comparison['variable_ids'] || []).each do |var|
        %div
          = select_tag('comparison[variable_ids][]', options_for_select(Variable.all.map { |v| [v.localized_field('name', locale), v.id]}, var))
          = image_tag '/bullet_toggle_minus.png', :title => 'delete', :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'
    %span.pseudoLink{onclick: "$(this).prev().append(listEntry);", title: ""} Kennzahl hinzufügen

  %br
  .actions
    = f.submit 'Save'
