%h2= t('all_comp')

%table.table-striped.table
  %thead
    %tr
      %th= t('name')
      %th= t('german-name')
      %th= t('french-name')
      %th= t('it-name')
      %th= t('german-descr')
      %th= t('french-descr')
      %th= t('it-descr')
      %th= t('icon')
      %th= t('numb-data')
      %th= t('mode')
      %th
      %th
      %th

  %tbody
    - @comparisons.each do |comparison|
      %tr
        %td= link_to comparison.name, [:admin, comparison]
        %td= comparison.name_de
        %td= comparison.name_fr
        %td= comparison.name_it
        %td= comparison.description_de
        %td= comparison.description_fr
        %td= comparison.description_it
        %td= show_icon comparison
        %td= comparison.variables.length
        %td= comparison.is_draft ? t('plan') : t('released')
        %td= link_to t('edit'), edit_admin_comparison_path(comparison)
        %td= link_to t('delete'), [:admin, comparison], :method => :delete, :data => { :confirm => t('sure') }

%br

= link_to t('create_comp'), new_admin_comparison_path
