%p#notice= notice

%p
  %b Name:
  = @comparison.name
%p
  %b Name de:
  = @comparison.name_de
%p
  %b Name fr:
  = @comparison.name_fr
%p
  %b Name it:
  = @comparison.name_it
%p
  %b Description de:
  = @comparison.description_de
%p
  %b Description fr:
  = @comparison.description_fr
%p
  %b Description it:
  = @comparison.description_it
%p
  %b Icon:
  = @comparison.image_link
%p
  Kennzahlen
  %ul
    - @comparison.variables.each do |var|
      %li
        = link_to(var.localized_field('name', locale), [:admin, var])
        = " - "
        = link_to('Bearbeiten', edit_admin_variable_path(var))


= link_to 'Bearbeiten', edit_admin_comparison_path(@comparison)
\|
= link_to 'Übersicht Vergleiche', admin_comparisons_path
