%p#notice= notice

%p
  %b =t('name')
  = @comparison.name
%p
  %b =t('german-name')+":"
  = @comparison.name_de
%p
  %b =t('french-name')+":"
  = @comparison.name_fr
%p
  %b =t('it-name')+":"
  = @comparison.name_it
%p
  %b =t('german-descr')+":"
  = @comparison.description_de
%p
  %b =t('french-descr')+":"
  = @comparison.description_fr
%p
  %b =t('it-descr')+":"
  = @comparison.description_it
%p
  =t('numbers')
  %ul
    - @comparison.variables.each do |var|
      %li
        = link_to(var.localized_field(t('name'), locale), [:admin, var])
        = " - "
        = link_to(t('edit'), edit_admin_variable_path(var))


= link_to t('edit'), edit_admin_comparison_path(@comparison)
\|
= link_to t('overview-comp'), admin_comparisons_path
