:javascript
  var initialize = function () {
    var latlng = new google.maps.LatLng(#{@hospital.location[1]}, #{@hospital.location[0]});
    var settings = {
      zoom: 12,
      center: latlng,
      mapTypeControl: true,
      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
      navigationControl: true,
      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(document.getElementById("map_#{@hospital.id}"), settings);

    function addMarker(location, name, info_text){
      var hop_location = new google.maps.LatLng(location[1], location[0]);
      var infowindow = new google.maps.InfoWindow({
        content: info_text
      });
      var hop_marker = new google.maps.Marker({
        position: hop_location,
        map: map,
        title: name,
      });

      infowindow.open(map, hop_marker);
    }

    #{"addMarker(#{@hospital.location}, \"#{t('headquarter')} #{@hospital.name}\", '#{j render :partial => 'shared/hospital_address'}');" if @hospital.hospital_locations.empty?}

    #{@hospital.hospital_locations.map { |loc|
          "addMarker(#{loc.location}, '#{loc.name} - #{loc.title}', '#{j render :partial => 'shared/location_address', :locals => { :location => loc }}');"
        }.join(' ')
      }

  }

  $(document).ready(initialize);
  $(document).on('page:load', initialize)


%div{ id:  "map_#{@hospital.id}", style: "width:600px; height:500px" }