:javascript
  var initialize = function () {
    var latlng = new google.maps.LatLng(#{@hospital.location[1]}, #{@hospital.location[0]});
    var settings = {
      zoom: 12,
      center: latlng,
      mapTypeControl: true,
      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
      navigationControl: true,
      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(document.getElementById("map_#{@hospital.id}"), settings);

    var hop_location = new google.maps.LatLng(#{@hospital.location[1]}, #{@hospital.location[0]});
    var hop_marker = new google.maps.Marker({
      position: hop_location,
      map: map,
      title:"#{t('headquarter')} #{@hospital.name}"
    });
  }

  $(document).ready(initialize);
  $(document).on('page:load', initialize)


%div{ id:  "map_#{@hospital.id}", style: "width:800px; height:500px" }