- content_for :title, 'About'
- content_for :title, 'Help'
%body
  .navbar.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#{home_path}")
          %i.fa.fa-user-md
          = t('app-title')
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %li= link_to fa_icon('home', 'Home'), home_url
          %li{ :class => "active"}= link_to fa_icon('exclamation-circle', 'About'), about_url
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :href => help_url, :title => "Puyer ici pour de l'aide détaillée"}
              %i.fa.fa-question-circle
              = t :"Help"
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = fa_icon('flag', current_language)
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li= link_to 'Deutsch', params.merge({ locale: :de })
              %li= link_to 'Francais', params.merge({ locale: :fr })
  :javascript
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({placement: 'bottom',trigger: 'manual'}).tooltip('show');
        $('[data-toggle="tooltip"]').hover(function(){$(this).tooltip('destroy');});      });
.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3 About.
        .panel-body
          Qualitätsmedizin Schweiz est une initiative de l'information pertinente et significative des soins de qualité dans les cabinets médicaux, les réseaux de médecins, les hôpitaux et les cliniques. Elle organise chaque année une série d'événements.
          %br
          L'initiative est soutenue par le
          = link_to 'Schweizerischen Gesellschaft für Medizincontrolling', 'http://www.medizincontroller.ch', target: '_blank'
          = '.'
          %p
          %p
            N'existe pas «Best Hospital». Il vaut la peine plutôt de faire le choix des hôpitaux en fonction de vos propres critères et en collaboration avec votre médecin ou un autre tiers de confiance. Auparavant, il convient d'examiner si un séjour à l'hôpital est nécessaire ou une intervention est appropriée. Pour tout service médical est pas sans risque. Voir aussi:
            %a{ href: 'http://www.qualitaetsmedizin.ch/fur-patienten/aerztlicher-rat-zweitmeinung/', target: '_blank'}http://www.qualitaetsmedizin.ch/fur-patienten/aerztlicher-rat-zweitmeinung/
          %p
            Pour mieux comprendre et évaluer les risques et les récompenses sont disponibles pour qm1.ch les informations pertinentes, que testé et des mesures de qualité de l'hôpital disponibles. Les indicateurs critiques sont mis en évidence, comme une preuve supplémentaire de zones à problèmes dans chaque hôpital.
          %p
            En outre, aide notre jugement sommaire sur la pertinence de l'hôpital. Cette mesure spécifique, a déclaré à chaque occasion de traitement pour une intervention planifiée ou au ministère dans chaque hôpital. La valeur est nationale, qui est, La Suisse calculée et peut varier entre 0% et 100%. Plus le mieux. Pour le calcul, nous pesons différents facteurs, en particulier le nombre de patients traités et l'importance des services dans chaque hôpital ou une clinique.
          %p
            Remplir le profil à l'hôpital avec des informations sur l'infrastructure, la participation à des mesures d'assurance qualité, les avantages et les priorités particulières.
          %p
            Si vous avez des questions, nous vous soutenir en personne au médecin et l'hôpital:
            = mail_to 'arzt@qm1.ch', 'arzt@qm1.ch'
          %p
            Pour plus d'informations, visitez le site
            %a{href: 'http://www.qualitaetsmedizin.ch/startseite/', target: '_blank'}http://www.qualitaetsmedizin.ch/startseite/
  .row
    .col-lg-12
      %br/
      %br/
      %p.pull-right
        © 2015
        %a{:href => 'http://www.qualitaetsmedizin.ch'} Qualitätsmedizin.ch
        | created by
        %a{:href => 'http://www.eonum.ch'} eonum
      %br/
      %br/