- content_for :title, 'Help'
%body
  .navbar.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#{home_path}")
          %i.fa.fa-user-md
          = t('app-title')
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %li= link_to fa_icon('home', 'Home'), home_url
          %li= link_to fa_icon('exclamation-circle', 'About'), 'http://www.qualitaetsmedizin.ch/startseite/', target: '_blank'
        %ul.nav.navbar-nav.navbar-right
          %li= link_to fa_icon('question-circle', 'Help'), help_url
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = fa_icon('flag', current_language)
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li= link_to 'Deutsch', params.merge({ locale: :de })
              %li= link_to 'Francais', params.merge({ locale: :fr })
.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3 Hilfe.
        .panel-body
          Die Kennzahlen und Daten zu den Institutionen entstammen publizierten Angaben und aktuellen Datenquellen,
          u.a des Bundesamtes für Gesundheit (BAG), des Nationalen Vereins für Qualitätsentwicklung in Spitälern und
          Kliniken (ANQ) und publizierten Informationen / Jahresberichten. Allfällige Fehler bitten wir schriftlich zu melden an
          = mail_to 'spital@qualitaetsmedizin.ch'
          %p
          Die Zahlen zur Patientenzufriedenheit finden Sie bei Bedarf auf den Seiten des ANQ (
          %a{ href: 'http://www.anq.ch/messergebnisse/ergebnisse-akutsomatik/', target: '_blank'} http://www.anq.ch/messergebnisse/ergebnisse-akutsomatik/
          ). Wir erachten diese als nicht aussagekräftig und irreführend, da die Wertungen eher mit den Serviceleistungen
          der Kliniken als mit der tatsächlichen medizinischen Qualität verbunden sind. Zudem bewegen sich die
          Ergebnisse seit Jahren in einem Band zwischen guten und sehr guten Bewertungen, was die statistische
          Aussagekraft beeinträchtigt. Es ist davon auszugehen, dass alle Kliniken und Spitäler aus dieser Optik
          empfohlen werden können und die Patienten / Kunden durchweg zufrieden sind.
          %ul.top-buffer
            %li Eine erste Sortierung erfolgt nach geographischer Nähe
            %li
              Dunkelgrüne Balken veranschaulichen die Zahl der behandelten Patientenfälle.
              %div.meter{ style: 'max-width: 20%'}
                %span{ style: 'width: 40%' }
              Grüne Balken geben Hinweise auf die Relevanz bzw. Eignung des Spitals im nationalen Vergleich:
              %div.meter.relevance{ style: 'max-width: 20%'}
                %span{ style: 'width: 40%' }
            %li Ein Klick auf die Fallzahlen zeigt den zeitlichen Trend über die letzten Datenjahre.
            %li
              %span.orange-highlight Orange
              hinterlegte Kennzahlen geben Hinweise auf Auffälligkeiten (z.B. unterdurchschnittliche Qualitätskennzahlen)
            %li
              Mit
              = image_tag('accept.png', :style => 'border-style:none')
              werden zusätzliche, positive Merkmale der Institution hervorgehoben

          %p
          Abkürzungen
          %dl.dl-horizontal
            %dt BfS
            %dd	Bundesamt für Statistik
            %dt ANQ
            %dd	Nationaler Verein für Qualitätsentwicklung in Spitälern und Kliniken
            %dt MRI
            %dd	Magnetic Resonance Imaging, ein bildgebendes Verfahren zur Darstellung der Gewebestrukturen im Körperinneren
            %dt CT
            %dd	Computertomographie ist ein Röntgenverfahren, mit dem der menschliche Körper in Querschnittbildern (Schnittbildverfahren) dargestellt wird.
            %dt PET
            %dd	Positronen-Emissions-Tomographie, ein bildgebendes Verfahren der Nuklearmedizin, das Schnittbilder von lebenden Organismen erzeugt, indem es die Verteilung einer schwach radioaktiv markierten Substanz im Organismus sichtbar macht und damit biochemische und physiologische Funktionen abbildet.
            %dt CC
            %dd	Gamma Camera (inkl. Szintigraphie und SPECT-Scanner); die Untersuchungen werden als Szintigraphie bezeichnet und mit einer Gamma-Kamera angefertigt. So entstehen Abbildungen verschiedenster Stoffwechselprozesse, die eine optimale Ergänzung zu anderen bildgebenden Verfahren wie beispielsweise Röntgenuntersuchungen oder Computertomographien sind, die lediglich anatomische Strukturen zeigen.
            %dt LB
            %dd	Linearbeschleuniger (Radiotherapie); Ein Linearbeschleuniger ist ein Teilchenbeschleuniger, mit dem elektrisch geladene Teilchen beschleunigt werden. Hierbei wird eine vorher festgelegte  Energiedosis freigesetzt. Linearbeschleuniger werden zur Strahlentherapie von Krebstumoren verwendet. Bestrahlungen können auf den Millimeter genau durchgeführt werden. Das gesunde Gewebe wird dabei weitestgehend geschont, belastende Nebenwirkungen werden auf ein Minimum reduziert.
            %dt Lito
            %dd	Lithotriptor; bei der Extrakorporalen Stoßwellenlithotripsie wird versucht, mit Hilfe von auf die betroffene Stelle gerichteten gebündelten Schallwellen den Fremdkörper ohne einen percutanen Schnitt so weit zu zerkleinern, dass er entweder natürlich oder operativ entfernt werden kann. Bei Anwendung des Verfahrens der Lithotripsie als Therapie gegen Nierensteine kann meist auf einen stationären Eingriff verzichtet werden.
            %dt NF
            %dd	Notfall
            %dt IPS
            %dd	zertifizierte Intensivstation
            %dt MSt
            %dd	Medizinstudenten
            %dt BGs
            %dd	Berufe im Gesundheitssektor
            %dt CIRS
            %dd	"Critical Incident Reporting System - direktes Qualitätsmerkmal Berichtssystem zur anonymisierten Meldung von kritischen Ereignissen und Beinahe-Schäden. Hierauf erfolgen regelmässige Schulungen/Audits, um Ereignisse dieser Art zukünftig zu vermeiden bzw. die Strukturen und Arbeitsabläufe zu verbessern. Die Ergebnisse werden kontinuierlich gemessen, dokumentiert und sind z.T. Bestandteil des Qualitätsberichtes. "



