= form_for [:admin, @hospital] do |f|
  - if @hospital.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hospital.errors.count, "error")} "+t('prohibition_admin_hospital')
      %ul
        - @hospital.errors.full_messages.each do |msg|
          %li= msg

  %table.table
    %tr
      %td
        %strong= t('name')
      %td= f.text_field :name
    %tr
      %td
        %strong= t('address')+" 1"
      %td= f.text_field :address1
    %tr
      %td
        %strong= t('address')+" 2"
      %td= f.text_field :address2
    %tr
      %td
        %strong= t('bfs_typology')
      %td= f.text_field :bfs_typo
    %tr
      %td
        %strong= t('canton')
      %td= f.text_field :canton

  .actions
    = f.submit t('save')
