= form_for [:admin, @hospital] do |f|
  - if @hospital.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hospital.errors.count, "error")} "+t('prohibition_admin_hospital')
      %ul
        - @hospital.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address1
    = f.text_field :address1
  .field
    = f.label :address2
    = f.text_field :address2
  .field
    = f.label :bfs_typo
    = f.text_field :bfs_typo
  .field
    = f.label :canton
    = f.text_field :canton
  .actions
    = f.submit t('save')
