%h2 Spitalliste

= link_to t('new_hospital'), new_admin_hospital_path
%br
%br
= form_tag(admin_hospitals_path, :method => "get") do
  = label_tag(:q, t('search'))
  = text_field_tag(:q, params[:q])
  = submit_tag(t('search'))

= will_paginate @hospitals, renderer: BootstrapPagination::Rails
%table.table-striped.table
  %thead
    %tr
      %th =t('name')
      %th= t('street_no')
      %th= t('postcode_city')
      %th= t('bfs_typology')
      %th =t('canton')
      %th= t('number_locs')
      %th
      %th
      %th

  %tbody
    - @hospitals.each do |hospital|
      %tr
        %td= link_to hospital.name, [:admin, hospital]
        %td= hospital.address1
        %td= hospital.address2
        %td= hospital.bfs_typo
        %td= hospital.canton
        %td= hospital.hospital_locations.length
        %td= link_to t('edit'), edit_admin_hospital_path(hospital)
        %td= link_to t('delete'), admin_hospital_path(hospital), :method => :delete, :data => { :confirm => t('sure') }

= will_paginate @hospitals, renderer: BootstrapPagination::Rails

