%h2 Spitalliste

= link_to 'Neues Spital', new_admin_hospital_path
%br
%br
= form_tag(admin_hospitals_path, :method => "get") do
  = label_tag(:q, 'Suche')
  = text_field_tag(:q, params[:q])
  = submit_tag('Suche')

= will_paginate @hospitals, renderer: BootstrapPagination::Rails
%table.table-striped.table
  %thead
    %tr
      %th Name
      %th Strasse, Nr.
      %th PLZ Ort
      %th BFS Typologie
      %th Kanton
      %th Anzahl Standorte
      %th
      %th
      %th

  %tbody
    - @hospitals.each do |hospital|
      %tr
        %td= link_to hospital.name, [:admin, hospital]
        %td= hospital.address1
        %td= hospital.address2
        %td= hospital.bfs_typo
        %td= hospital.canton
        %td= hospital.hospital_locations.length
        %td= link_to 'Bearbeiten', edit_admin_hospital_path(hospital)
        %td= link_to 'Löschen', admin_hospital_path(hospital), :method => :delete, :data => { :confirm => 'Are you sure?' }

= will_paginate @hospitals, renderer: BootstrapPagination::Rails

