%p#notice= notice

%h2= @hospital.name
%p
  %b Strasse, Nr.:
  = @hospital.address1
%p
  %b PLZ Ort:
  = @hospital.address2
%p
  %b BFS Typologie:
  = @hospital.bfs_typo
%p
  %b Kanton:
  = @hospital.canton

%p
  %b Karte / Koordinaten
  = @hospital.location
  = render :partial => 'shared/map'

= link_to 'Bearbeiten', edit_admin_hospital_path(@hospital)
\|
= link_to 'Zurück', admin_hospitals_path

%h3 Standorte
- @hospital.hospital_locations.each do |location|
  %p
    = link_to(location.name + ' - ' + location.title + ' - ' + location.address, [:admin, location])

- if @hospital.hospital_locations.empty?
  %p Noch keine Standort verknüpft mit diesem Spital.
  = link_to 'Erstelle Standort mit identischer Adresse - Hauptsitz', create_location_admin_hospital_path(@hospital), method: :post

%h3= link_to 'Alle Felder anzeigen', admin_hospital_fields_path(@hospital)


