%p#notice= notice

%h2= @hospital.name
%p
  %b Address1:
  = @hospital.address1
%p
  %b Address2:
  = @hospital.address2
%p
  %b Bfs typo:
  = @hospital.bfs_typo
%p
  %b Canton:
  = @hospital.canton

= link_to 'Edit', edit_admin_hospital_path(@hospital)
\|
= link_to 'Back', admin_hospitals_path

%h3 Standorte
- @hospital.hospital_locations.each do |location|
  %p
    = link_to(location.name + ' - ' + location.title + ' - ' + location.address, [:admin, location])

%h3= link_to 'Alle Felder anzeigen', admin_hospital_fields_path(@hospital)


