%p#notice= notice

%h2= @hospital.name
%p
  %b Address1:
  = @hospital.address1
%p
  %b Address2:
  = @hospital.address2
%p
  %b Bfs typo:
  = @hospital.bfs_typo
%p
  %b Canton:
  = @hospital.canton

= link_to 'Edit', edit_admin_hospital_path(@hospital)
\|
= link_to 'Back', admin_hospitals_path

%h3 Standorte
- @hospital.hospital_locations.each do |location|
  %p
    = link_to(location.name + ' - ' + location.title + ' - ' + location.address, [:admin, location])

%h3 KZP Variablen

%table.table-striped.table
  %thead
    %th
      %td
        Name
      %td
        2011
      %td
        2012
      %td
        2013
  %tbody
    = render partial: 'var', :collection => @variables_kzp, locals: {:hop => @hospital, :years => ['2011', '2012', '2013'] }

%h3 QIP Variablen

%table.table-striped.table
  %thead
    %th
      %td
        Name
      %td
        2011
      %td
        2012
      %td
        2013
  %tbody
    = render partial: 'var', :collection => @variables_qip, locals: {:hop => @hospital, :years => ['2011', '2012', '2013'] }
