%ul.list-group
  %li.list-group-item.list-group-item-info
    %h4 Folgende Ärzte befinden sich in der näheren Umgebung dieses Standortes:
  - @doctors.each do |d|
    %li.list-group-item
      %p= d.title
      %strong= d.name
      %p= doctor_address(d)

      %p= tel_to d.phone2 unless d.phone2.blank?
      %p= mail_to(d.email, fa_icon('envelope-o', d.email), target: '_blank') unless d.email.blank?