%ul.list-group
  %li.list-group-item.list-group-item-info
    %h4= t('nearby-doctors')
    %div.top-buffer
      = t('doctor-change-request')
      = mail_to 'spital@qualitaetsmedizin.ch', 'spital@qualitaetsmedizin.ch'
  - @doctors.each do |d|
    %li.list-group-item
      %p= d.title
      %strong= d.name
      %p= doctor_address(d)

      %p= tel_to d.phone2 unless d.phone2.blank?
      %p= mail_to(d.email, fa_icon('envelope-o', d.email), target: '_blank') unless d.email.blank?
      %p= link_to(fa_icon('external-link',d.website), d.website) unless d.website.blank?