- @comparisons.each do |comparison|
  - @comparison = comparison
  - if @comparison.includes(@hospital)
    .panel.panel-default
      .panel-heading
        .h4
          = @comparison.localized_field 'name', locale
          .small= link_to t('other-nearby-from-specialty'), comparison_path(@comparison, location: "#{@hospital.location[1]},#{@hospital.location[0]}")
      .panel-body
        %table
          %thead#comparison-head
            %tr
              - comparison.variables.each do |var|
                %th.hopcell.qim-header-cell
                  = var.localized_field 'name', locale
                  %h5
                    %small= var.localized_field 'description', locale
          %tbody
            %tr{ 'data-hopid' => @hospital.id }
              - comparison.variables.each do |var|
                %td.hopcell{ :class => hospital_variable_class(var, @hospital), 'data-fieldnam' => var.field_name, 'data-varid' => var.id }= format_hospital_variable(var, @hospital)