:javascript
  $.getJSON("#{field_hospital_path(@hospital, field_name: 'AustStatT')}",  visualize_time_series)

%div{ :style => 'padding: 30px;'}
  %h2= @hospital.name

%div
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.active
      %a{href: '#home', role: 'tab', 'data-toggle' => 'tab'}
        = fa_icon('medkit', t('specialities'))
    %li
      %a{href: '#locations', role: 'tab', 'data-toggle' => 'tab'}
        = fa_icon('hospital-o', t('locations'))
    %li
      %a{href: '#doctors', role: 'tab', 'data-toggle' => 'tab'}
        = fa_icon('user-md', t('doctors'))
  .tab-content.top-buffer
    #home.tab-pane.fade.active.in
      = render :partial => 'specialities'
    #locations.tab-pane.fade.top-buffer
      = render :partial => 'shared/map'
      - unless @hospital.hospital_locations.empty?
        %h4= t('locations')
        - @hospital.hospital_locations.each do  |location|
          .panel.panel-default
            .panel-body
              %address
                %strong= location.name + ' - ' + (location.title.blank? ? t('headquarter') : location.title)
                %br
                = fa_icon 'map-marker', location.address

                - unless location.email.blank?
                  %br
                  = mail_to(location.email, fa_icon('envelope-o', location.email), target: '_blank')
                - unless location.phone1.blank?
                  %br
                  = tel_to location.phone1
                - unless location.phone2.blank?
                  %br
                  = tel_to location.phone2
    #doctors.tab-pane.fade
      -if !@hospital.doctors.empty?
        =render :partial => "doctors", locals: { :doctor => @hospital.doctors, :category_description => t('doctors-in-hospital')}
      =render :partial => "doctors", locals: { :doctor => @doctors, :category_description => t('nearby-doctors')}