!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : t('app-title')
    = favicon_link_tag
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCmgeVHosSLqzZA2a86MjH9GDrcgr_ynuQ&sensor=true'
    = javascript_include_tag 'https://www.google.com/jsapi'
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    :javascript
      I18n.defaultLocale = '#{I18n.default_locale}';
      I18n.locale = '#{I18n.locale}';
      google.load("visualization", "1", {packages:["corechart"]});

  %body
    .navbar.navbar-inverse.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#{home_path}")
          %i.fa.fa-user-md
          = t('app-title')
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li= link_to fa_icon('home', 'Home'), home_url
            %li= link_to fa_icon('exclamation-circle', 'About'), about_url
          %ul.nav.navbar-nav.navbar-right
            %li= link_to fa_icon('question-circle', 'Help'), help_url
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = fa_icon('flag', current_language)
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li= link_to 'Deutsch', params.merge({ locale: :de })
                %li= link_to 'Francais', params.merge({ locale: :fr })

    .container
      .row
        .col-lg-4
          #search.well.well-sm
            %form#comparison-selection-form
              %button#location-btn.btn.btn-default.navbar-btn.distance.has-popover{"data-target" => "#map-modal", "data-toggle" => "modal",
                 :type => 'button', 'data-content' => t('location-selection')}
                %i.fa.fa-location-arrow.comparison-selection
                = current_address
              %span#regeolocate.pseudoLink{title: t('regeolocate'), style: 'font-size: 18px;'}= fa_icon('crosshairs')
              .cantons
                - cantons.each do |k,v|
                  = link_to k, url_for(params.except(:location).merge(canton: k)), :class => 'canton', :id => "canton-#{k}"
              %div.dropdown
                .top-buffer= label_tag t('speciality')
                = select_tag('comparison', options_for_select(Comparison.order_by(:rank => 'asc').map { |c| [c.localized_field('name', locale), comparison_path(c)]}, @comparison.nil? ? nil : comparison_path(@comparison)), class: 'form-control')
          %div#field-info-box
        #main-content.col-lg-8
          = bootstrap_flash
          = yield
          %div.text-center.top-buffer
            = t('more-information')
            = mail_to 'spital@qualitaetsmedizin.ch', 'spital@qualitaetsmedizin.ch'
    #map-modal.modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header.text-center
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4#myLargeModalLabel.modal-title= t('location-selection')
          .modal-body
            .map-holder
              #map
          .modal-footer
            %a.btn{"data-dismiss" => "modal"}= t('close-location-search')