!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : 'Qualitätsmedizin.ch Spitäler'
    = csrf_meta_tags
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCmgeVHosSLqzZA2a86MjH9GDrcgr_ynuQ&sensor=true'
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

  %body
    = render :partial => 'layouts/navbar'
    = yield
    %div.text-center.top-buffer
      = t('more-information')
      = mail_to 'spital@qualitaetsmedizin.ch', 'spital@qualitaetsmedizin.ch'
      %p
        © 2016
        %a{:href => 'http://www.qualitaetsmedizin.ch'} Qualitätsmedizin.ch
        | created by
        %a{:href => 'http://www.eonum.ch'} eonum
